<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_fernlet-coach._tcp</string>
		<string>_fernlet-coach._udp</string>
		<string>_fernlet-friend._tcp</string>
		<string>_fernlet-friend._udp</string>
		<string>_fernlet-recipe._tcp</string>
		<string>_fernlet-recipe._udp</string>
		<string>_fernlet-near._tcp</string>
		<string>_fernlet-near._udp</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Fraunces-SemiBold.ttf</string>
		<string>DMSerifDisplay-Regular.ttf</string>
		<string>InstrumentSerif-Regular.ttf</string>
		<string>InstrumentSerif-Italic.ttf</string>
		<string>DMSans-Regular.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>PlayfairDisplay-Italic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchParchment</string>
	</dict>
</dict>
</plist>
